body{
	font-family: Calibri, sans-serif;
}
*{
	text-align: center;
}
span{
	display: inline;
	font-style: italic;
	font-weight: bold;
}
form{
	width: 280px;
	height: auto;
	text-align: center;
	margin: 0 auto;
}
.customer-name{
	display: block;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
}
.btn-submit,.btn-reset, .btn-claim{
	margin: 10px 0px;
	background-color:rgb(6, 162, 24);
	border-radius: 15px;
	border-style:outset;
	color: aliceblue;
	font-weight: bold;
	width: 120px;
	padding: 10px;
}
p{
	padding: 0px;
}
.form-coupon{
	margin-top: 50px;
	border: 5px dashed #222;
	border-radius: 15px;
	background-color:#ffe599 ;
}
.discount{
	font-size: 1.5em;
	display: block;
}
.ticket-number{
	font-size: 2.2em;
	font-family: Impact,sans-serif;
	display: block;
}
.btn-reset, .btn-claim{
	display: inline-block;
}
.btn-reset{
	background-color: crimson;
}
.btn-submit:hover,.btn-reset:hover, .btn-claim:hover{
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
.btn-reset:hover{
	background-color:orangered;
}
