
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
/*

Deep blue (#001233), light coral red (#FF595A), beige (#CAC0B3) #efe0ca

*/
*,body{
    font-family: 'Roboto', sans-serif;;
    color: #f9f3ea;    
    margin: 0px;
    padding: 0px;
}
.main-container{
    margin: 0 auto;
    width: 1170px;
    height: 100%;
}
.logo-container, .navbar{
    display: inline-block;
    height: 80px;
    width: 50%;
    background-color: #001233;
}
.logo-container p{
    font-size: 2.5em;
    color: #CAC0B3;
    line-height: 80px;
    margin-left: 50px;
}
.logo-container p span{
    color: #FF595A;
}
#online{
    font-size: .5em;
    font-style: italic;
    color: #CAC0B3;
}
.navbar{
    box-sizing: border-box;
    text-align: right;
    padding-right: 50px;
    vertical-align: top;
}
.navbar li,.navbar li a{
    font-size: 1.2em;
    display: inline-block;
    width: 100px;
    height: 100%;
    line-height: 80px;
    text-align: center;
}
.navbar li a:hover{
    color: #001233;
    background-color: #FF595A;
}
a{
    text-decoration: none;
    color: #f9f3ea;  
}
.user-section{
    width: 100%;
    height: 500px;
    background-color:  #f9f3ea;
    border-top: 2px solid #FF595A;
}
.user-section p{
    color: #001233;
}
.name-container{
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    vertical-align: top;
    text-align: left;
    height: auto;
    padding-left: 50px;
}
.iam-saitama{
    color: #001233;
    margin-top: 30%;
    font-size: 3rem;
}
.btn-shop,.checkout{
    display: inline-block;
    margin-top: 30px;
    font-size: 2em;
    font-weight: 700;
    color: #001233;
    background-color: #FF595A;
    padding: 10px 20px;
}
.btn-shop:hover,.checkout:hover{
    color: #FF595A;
    background-color: #001233;
}
.shop-img-container {
    display: inline-block;
    width: 40%;
    box-sizing: border-box;
    margin: 100px 0px 0px 50px;
}

.shop-pic{
    border-radius: 10px;
    width: 100%;
}
h2{
    text-align: center;
    color: #FF595A;
}
.service-title{
    font-size: 2em;
    color: #001233;
    line-height: 100px;
    width: 100%;
    height: 100px;
    background-color: #efe0ca;
    text-align: center;
    border-top: 2px solid #FF595A;
}
.items-section{
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    background-color: #f9f3ea;
    padding: 50px;
    height: auto;
    text-align: center;
}
.items-section h2{
    color: #001233;
}
.items{
    display: inline-block;
    height: 250px;
    width: 250px;
    margin: 20px;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}
input[type=image]{
   width: 200px;
   height: 170px;
    display: block;
    margin: 0 auto;
}
.item-name,.item-price,.item-stock,.item-buy{
    display: inline-block;
    width: 45%;
    color: #001233;
    font-size: 1.3em;
    padding: 5px;
}
.item-stock{
    width: 50px;
    border: 1px solid #001233;
}
.item-buy,.btn-remove{
    width: 50px;
    color: #f9f3ea;
    background-color: #001233;
}
.item-buy:hover,.btn-remove:hover{
    color: #001233;
    border-color: #001233;
    background-color:#f9f3ea;
}
a.active{
    text-decoration: underline 5px #FF595A;
}
.read-blogs{
    display: inline-block;
    margin-top: 20px;
    background-color: #001233;
    padding: 5px 15px;
}
footer{
    width: 100%;
    height: 120px;
    background-color: #001233;
    text-align: center;
    padding-top: 50px;
}
footer p img{
    display: inline-block;
    width: 30px;
    margin: 10px;
}
table,th,td{
	border-collapse: collapse;
    font-size: 1.2em;
    color: #001233;
}
td{
	border-left: 1px solid #001233;
	padding: 5px;
}
table{
	width: 100%;
	border: 2px solid #001233;
    text-align: center;
    margin: 0 auto;
}
th{
	text-align: center;
	color: #001233;
	font-size: 1.5em;
	height: 30px;
	border: 2px solid #001233;
	padding: 10px 20px;
    border-bottom: 5px solid #FF595A;
}
tr.colored{
	background-color: rgba(220, 230, 245, 0.7);
}
tr.default{
	background-color: rgb(255, 255, 255);
}
tr:hover{
	background-color: rgba(245, 235, 220, 0.9);
    border-top: 1px solid #FF595A;
    border-bottom: 1px solid #FF595A;
}
.btn-remove{
    width: 20px;
}
.total-price,.total-price span {
    color: #001233;
	font-size: 1.7em;
    text-align: right;
}
a.checkout{
    font-size: 1.2em;
}
.billing{
    border: 1px solid #FF595A;
    color: #001233;
    width: 600px;
    margin: 0 auto;
    border-left: 10px solid #001233;;
    border-radius: 10px;
}
.billing label, .billing input{
    color: #001233;
    display: inline-block;
    width: 40%;
    padding: 5px;
    margin: 10px;
    font-size: 1.5em;
    text-align: right;
}
input.btn-billing{
    width: auto;
    margin-left: 60%;
}
.success_action,.success_delete{
    color:rgb(5, 209, 67);
    font-size: 1.5em;
    text-align: center;
}